page-add-contributors {
    .list-ios > .item-block:first-child {
        border-top: none;
    }
    .list-ios .item-ios{
        padding-inline-start: 0px;
    }
    .padding-left-0{
        padding-left: 0px;
    }
}
