page-home {
    .background{
        background-color: #FFF;
        color: #000;
        line-height: 24px;
    }
    .background img{
        align-self: center;
    }
    .scroll-content{
        align-content: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
}
