page-home {
    img{
        align-self: center;
    }
    .scroll-content{
        align-content: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding: 0;
    }
}
